*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgb(254,107,64); */
    background-color: rgb(30,30,30);
    color: white;
}

/* Chatbot Container */
.chatbot-container {
    width: 100%;
    height: 97vh;
    background: white;
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin: 0 auto; */
    /* box-shadow: 0px 4px 15px rgba(0,0,0,0.2); */
}

/* Chatbot Header */
.chatbot-header {
    background: #fe6b40;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
}

/* Messages Section */
.chatbot-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: rgb(30,30,30);
    display: flex;
    flex-direction: column;
}

.message {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 12px;
    margin-bottom: 10px;
    max-width: 20%;
    font-size: 20px;
}

/* Bot message */
.message.bot {
    background: rgb(77,77,77);
    color: white;
    margin-left: 15%;
    align-self: flex-start;
}

/* User message */
.message.user {
    background: #ddd;
    color: black;
    margin-right: 15%;
    align-self: flex-end;
}

/* Input Section */
.chatbot-input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(30,30,30);
    padding: 10px;
    background: rgb(30,30,30);
}

.input-wrapper{
    position: relative;
    width: 700px;
}
.input-wrapper textarea{
    width: 100%;
    min-height: 50px;
    max-height: 70px;
    padding: 25px 90px 20px 60px;
    border: none;
    border-radius: 25px;
    outline: none;
    resize: none;
    background: rgb(17,17,17);
    color: white;
    font-size: 16px;
    line-height: 1.5;
    overflow-y: auto;
    cursor: text;
}
/*  Hide scrollbar  */
.input-wrapper textarea::-webkit-scrollbar {
    display: none;
}
.input-wrapper .attach-btn{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background: #fe6b40;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.input-wrapper .send-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fe6b40;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

p{
    text-align: center;
    font-size: 12px;
}