/* index.html file is connected to this */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#funnito{
    color: #666666;
    padding: 95px;
}
#about{
    color: #666666;
    padding: 95px;
}
#header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 1.5%;
    font-size: 25px;
}

body{
    background-color: #191919;
    color: #666666;
}

.start-chatbotBtn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 15%;
    gap: 5px;
    flex-wrap: wrap;
}

.start-chatbotBtn-container a:nth-child(3){
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;    
    font: bold;
    text-decoration: none;
}

.start-upBtn{
    background-color: #e5e5e5;
    color: black;
    border-radius: 22px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
    width: 190px;
}
.start-upBtn:hover{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}
#google-loginBtn{
    background-color: white;
    width: 400px;
}
#google-loginBtn:hover{
    background-color: black;
    color: white;
}
p{
    text-align: center;
    margin-top: 5px;
}

::-webkit-scrollbar {
    display: none;
}

h3{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-top: 16%;
}