*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#funnito{
    color: #666666;
    padding: 10px;
}
#funnito-logo{
    width: 50px;
    height: 50px;
    padding: 10px;
}
#header{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

body{
    background-color: #191919;
    color: #666666;
}
#form-container{
    border: 2px solid rgb(38, 57, 77);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 3% auto 0 auto;
    width: 900px;
    height: 570px;
    padding: 40px 30px;
    /* background-color: rgb(253, 62, 186); */
    border-radius: 16px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#form-container h2{
    color: white;
    margin-bottom: 90px;
    font-size: 85px;
}

#verifyMessage{
    color: white;
    text-align: center;
    font-size: 32px;
    border: 5px solid rgb(38, 57, 77);
    border-radius: 8px;
    background-color: rgb(38, 57, 77);
    padding: 8px;
    margin-top: 60px;
    display: none;
}
#input-row {
    display: flex;
    flex-direction: column;      
    gap: 12px;                   
    justify-content: center;    
    align-items: center;        
    margin-top: 15px;
}

#input-row input{
    height: 30px;
    font-size: 20px;
    padding: 10px 30px;
}
#input-row label{
    color: white;
}

#verify-btn{
    background-color: #e5e5e5;
    color: black;
    border-radius: 12px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 18px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#verify-btn:hover{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
}
#input-row input{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 45px;
    padding: 25px;
    font-size: 18px;
    margin: 2px;
    outline: none;
    box-shadow: rgba(238, 238, 240, 0.408) 0px 7px 29px 0px;
}
#input-row ::placeholder{
    color: white;
}
#label-text{
    text-align: center;
    color: white;
}
